<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"/>

        <activity
            android:name="ClientSide.LoginAndSignup.SignInActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity android:name="ClientSide.Transaction.TransactionAdapter$ProofOfClaimActivity" android:exported="false" />
        <activity android:name="ClientSide.PointsSEction.Pointsection" android:exported="false" />
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity" />
        <activity android:name="ClientSide.EventsAndNews.EventPageActivity" />
        <activity android:name="ClientSide.QRscan.QRCodeActivity" />
        <activity android:name="ClientSide.LoginAndSignup.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ClientSide.EventsAndNews.LocalNewsAlertsActivity" />
        <activity android:name="AdminFiles.MainDashboard.AdminActivity" android:exported="true" />
        <activity android:name="AdminFiles.ADminEvents.CreateEventActivity" android:exported="true" />
        <activity android:name="ClientSide.Reports.ReportsActivity" android:exported="true" />
        <activity android:name="ClientSide.Reports.ReportDetailActivity" android:exported="true" />
        <activity android:name="ClientSide.EventsAndNews.EventRegistrationActivity" android:exported="true" />
        <activity android:name="AdminFiles.ADminEvents.AdminEventsActivity" android:exported="true" />
        <activity android:name="AdminFiles.ADminEvents.AdminEventDetailActivity" android:exported="true" />
        <activity android:name="AdminFiles.Participants.ParticipantDetailActivity" android:exported="true" />
        <activity android:name="ClientSide.Reports.ReportConcernActivity" />
        <activity android:name="AdminFiles.AddminRewards.AdminAddRewardActivity" android:exported="true" />
        <activity android:name="ClientSide.Rewards.RewardsActivity" android:exported="true" />
        <activity android:name=".WebMapPickerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.maps.renderer"
            android:value="LATEST" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAVC8KWaoedx8oTBslMCnhasC-p02ygd5Q"/>


    </application>
</manifest>